.DS_Store
/dist/
node_modules/
yarn-error.log
.github/workflows/deploy.yml

# Teaching/Prep Files
xx-*
planning.md
*.ipynb
src/assets/readings/wX-*
src/*/utils/
*--teachers_copy.md


# TOO BIG VIDS
*.mov

# TOO BIG DATA
nc_absentee_20241105.csv

# Observable Template Example
example-*
