/******************************************************
* Copied from base.css
*******************************************************/

/** Base styles for global use **/

body {
    margin: 0;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

/******************************************************
* Copied from cbp_header.inc
*******************************************************/

.header.hdr-primary,
header.hdr-primary>nav {
    display: flex !important;
    align-items: center !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 64px !important;
    background-color: #112e51 !important;
    border-color: #112e51 !important;
}

.header.hdr-primary>nav>div {
    box-sizing: border-box !important;
    height: 36.62px !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    letter-spacing: 0.02em !important;
    line-height: 30px !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    padding: 0 0 0 16px !important;
    margin: 0 !important;
    min-width: 150px !important;
}

.header.hdr-primary>nav>div>a,
header.hdr-primary>nav>div>a>img {
    padding: 0 !important;
    margin: 0 !important;
    border-style: none !important;
    background: transparent !important;
    text-decoration: none !important;
}

.header.hdr-primary>nav>div>a {
    box-sizing: border-box !important;
    cursor: pointer !important;
    text-decoration: none !important;
}

.header.hdr-primary>nav>div>a>img {
    width: 86px !important;
    height: 33.62px !important;
    margin-left: 15px !important;
}

/******************************************************
* Copied from www/census.gov/main/css/_new/bootstrap.css
*******************************************************/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

/******************************************************
* Copied from /main/uswds/uswds-2.12.0/css/uswds.css
*******************************************************/

.usa-banner {
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 1.5;
    background-color: #f0f0f0;
}

@media all and (min-width: 40em) {
    .usa-banner {
        font-size: 0.87rem;
        padding-bottom: 0;
    }
}

.usa-banner .usa-accordion {
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 1.5;
}

.usa-nav .usa-accordion {
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 0.9;
}

.usa-content p,
.usa-content ul:not(.usa-accordion):not(.usa-accordion--bordered),
.usa-content ol:not(.usa-accordion):not(.usa-accordion--bordered) {
    max-width: 68ex;
}

.usa-accordion {
    margin-bottom: 0;
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
    color: #1b1b1b;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 1.5;
}

.usa-accordion>li {
    margin-bottom: 0;
    max-width: unset;
}

.usa-accordion>ul li ul {
    list-style: disc;
}

.usa-accordion>ul li ul>li>ul {
    list-style: circle;
}

.usa-accordion>ul li ul>li>ul>li>ul {
    list-style: square;
}

.usa-accordion+.usa-accordion,
.usa-accordion+.usa-accordion--bordered {
    margin-top: 0.5rem;
}

.usa-banner__header,
.usa-banner__content {
    color: #1b1b1b;
}

.usa-banner__header {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: normal;
    min-height: 3rem;
    position: relative;
}

@media all and (min-width: 40em) {
    .usa-banner__header {
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
        min-height: 0;
    }
}

.usa-banner__inner {
    /* margin-left:auto;
  margin-right:auto; */
    padding-left: 2.75rem;
    padding-right: 1rem;
    max-width: 64rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-right: 0;
}

@media all and (min-width: 64em) {
    .usa-banner__inner {
        /*  padding-left:10rem;
    padding-right:10rem;*/
    }
}

/*@media all and (min-width: 64em){
  .usa-banner__inner{
    padding-left:2rem;
    padding-right:2rem;
  }
}*/

@media all and (min-width: 40em) {
    .usa-banner__inner {
        align-items: center;
    }
}

.usa-banner__header--expanded .usa-banner__inner {
    margin-left: 0;
}

@media all and (min-width: 40em) {
    .usa-banner__header--expanded .usa-banner__inner {
        margin-left: auto;
    }
}

.usa-banner__header-text {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.8rem;
    line-height: 1.1;
}

.usa-banner__header-action {
    color: #005ea2;
    line-height: 1.1;
    margin-bottom: 0;
    margin-top: 2px;
    text-decoration: underline;
}

/*.usa-banner__header-action::after{
  background:url("/viner001/.in/img/usa-icons/expand_more.svg") no-repeat center/1rem 1rem;
  display:inline-block;
  height:1rem;
  width:1rem;
  content:"";
  vertical-align:middle;
  margin-left:0;
}
@supports ((-webkit-mask: url("")) or (mask: url(""))){
  .usa-banner__header-action::after{
    background:none;
    background-color:#005ea2;
    -webkit-mask:url("/viner001/.in/img/usa-icons/expand_more.svg") no-repeat center/1rem 1rem;
            mask:url("/viner001/.in/img/usa-icons/expand_more.svg") no-repeat center/1rem 1rem;
  }*/

/* .usa-banner__header-action::after:hover{
    background-color:#1a4480;
  }
}
.usa-banner__header-action:hover::after{
  content:"";
  background-color:#1a4480;
}
.usa-banner__header-action:visited{
  color:#54278f;
}
.usa-banner__header-action:hover, .usa-banner__header-action:active{
  color:#1a4480;
}
.usa-banner__header--expanded .usa-banner__header-action{
  display:none;
}
@media all and (min-width: 40em){
  .usa-banner__header-action{
    display:none;
  }
}*/

@media all and (min-width: 40em) {
    img.usa-banner__header-flag {
        margin-right: .5rem;
        padding-top: 0;
    }
}

img.usa-banner__header-flag {
    float: left;
    margin-right: .5rem;
    /*width: 1.0rem;*/
}

@media all and (min-width: 40em) {
    .tablet\:grid-col-6 {
        flex: 0 1 auto;
        width: 50%;
    }
}

.usa-banner__header--expanded .usa-banner__header-action {
    display: none;
}

/*.usa-accordion__button{
  -moz-osx-font-smoothing:inherit;
  -webkit-font-smoothing:inherit;
  color:#005ea2;
  text-decoration:underline;
  background-color:transparent;
  border:0;
  border-radius:0;
  box-shadow:none;
  font-weight:normal;
  margin:0;
  padding:0;
  text-align:left;
  background-image:url("/viner001/.in/img/usa-icons/remove.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
  background-color:#f0f0f0;
  background-position:right 1.25rem center;
  background-size:1.5rem;
  color:#1b1b1b;
  cursor:pointer;
  display:inline-block;
  font-weight:700;
  margin:0;
  padding:1rem 3.5rem 1rem 1.25rem;
  text-decoration:none;
  width:100%;
}
.usa-accordion__button:visited{
  color:#54278f;
}
.usa-accordion__button:hover{
  color:#1a4480;
}
.usa-accordion__button:active{
  color:#162e51;
}
.usa-accordion__button:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}
.usa-accordion__button:hover, .usa-accordion__button.usa-button--hover, .usa-accordion__button:disabled:hover, .usa-accordion__button:disabled.usa-button--hover, .usa-accordion__button.usa-button--disabled:hover, .usa-accordion__button.usa-button--disabled.usa-button--hover, .usa-accordion__button:active, .usa-accordion__button.usa-button--active, .usa-accordion__button:disabled:active, .usa-accordion__button:disabled.usa-button--active, .usa-accordion__button.usa-button--disabled:active, .usa-accordion__button.usa-button--disabled.usa-button--active, .usa-accordion__button:disabled:focus, .usa-accordion__button:disabled.usa-focus, .usa-accordion__button.usa-button--disabled:focus, .usa-accordion__button.usa-button--disabled.usa-focus, .usa-accordion__button:disabled, .usa-accordion__button.usa-button--disabled{
  -moz-osx-font-smoothing:inherit;
  -webkit-font-smoothing:inherit;
  background-color:transparent;
  box-shadow:none;
  text-decoration:underline;
}
.usa-accordion__button:disabled, .usa-accordion__button.usa-button--disabled{
  color:#c9c9c9;
}
.usa-accordion__button.usa-button--hover{
  color:#1a4480;
}
.usa-accordion__button.usa-button--active{
  color:#162e51;
}
.usa-accordion__button:hover{
  background-color:#dfe1e2;
  color:#1b1b1b;
  text-decoration:none;
}

.usa-accordion__button[aria-expanded=false]{
  background-image:url("/viner001/.in/img/usa-icons/add.svg"), linear-gradient(transparent, transparent);
  background-repeat:no-repeat;
  background-size:1.5rem;
}

@media all and (min-width: 64em){
  .usa-nav__primary .usa-accordion__button span{
    margin-right:0;
    padding-right:1rem;
  }
}


.usa-banner__button{
  -moz-osx-font-smoothing:inherit;
  -webkit-font-smoothing:inherit;
  color:#005ea2;
  text-decoration:underline;
  background-color:transparent;
  border:0;
  border-radius:0;
  box-shadow:none;
  font-weight:normal;
  margin:0;
  padding:0;
  text-align:left;
  position:absolute;
  left:0;
  position:absolute;
  bottom:0;
  top:0;
  color:#005ea2;
  text-decoration:underline;
  vertical-align:baseline;
  color:#005ea2;
  display:block;
  font-size:0.8rem;
  height:auto;
  line-height:1.1;
  padding-top:0;
  padding-left:0;
  text-decoration:none;
  width:auto;
}
.usa-banner__button:visited{
  color:#54278f;
}
.usa-banner__button:hover{
  color:#1a4480;
}
.usa-banner__button:active{
  color:#162e51;
}
.usa-banner__button:focus{
  outline:0.25rem solid #2491ff;
  outline-offset:0;
}
.usa-banner__button:hover, .usa-banner__button.usa-button--hover, .usa-banner__button:disabled:hover, .usa-banner__button:disabled.usa-button--hover, .usa-banner__button.usa-button--disabled:hover, .usa-banner__button.usa-button--disabled.usa-button--hover, .usa-banner__button:active, .usa-banner__button.usa-button--active, .usa-banner__button:disabled:active, .usa-banner__button:disabled.usa-button--active, .usa-banner__button.usa-button--disabled:active, .usa-banner__button.usa-button--disabled.usa-button--active, .usa-banner__button:disabled:focus, .usa-banner__button:disabled.usa-focus, .usa-banner__button.usa-button--disabled:focus, .usa-banner__button.usa-button--disabled.usa-focus, .usa-banner__button:disabled, .usa-banner__button.usa-button--disabled{
  -moz-osx-font-smoothing:inherit;
  -webkit-font-smoothing:inherit;
  background-color:transparent;
  box-shadow:none;
  text-decoration:underline;
}
.usa-banner__button:disabled, .usa-banner__button.usa-button--disabled{
  color:#c9c9c9;
}
.usa-banner__button.usa-button--hover{
  color:#1a4480;
}
.usa-banner__button.usa-button--active{
  color:#162e51;
}
.usa-banner__button:visited{
  color:#54278f;
}
.usa-banner__button:hover, .usa-banner__button:active{
  color:#1a4480;
}
@media all and (max-width: 39.99em){
  .usa-banner__button{
    width:100%;
  }
}
@media all and (min-width: 40em){
  .usa-banner__button{
    color:#005ea2;
    position:static;
    bottom:auto;
    left:auto;
    right:auto;
    top:auto;
    display:inline;
    margin-left:0.5rem;
    position:relative;
  }
  .usa-banner__button::after{
    background:url("/viner001/.in/img/usa-icons/expand_more.svg") no-repeat center/1rem 1rem;
    display:inline-block;
    height:1rem;
    width:1rem;
    content:"";
    vertical-align:middle;
    margin-left:2px;
  }
  @supports ((-webkit-mask: url("")) or (mask: url(""))){
    .usa-banner__button::after{
      background:none;
      background-color:#005ea2;
      -webkit-mask:url("/viner001/.in/img/usa-icons/expand_more.svg") no-repeat center/1rem 1rem;
              mask:url("/viner001/.in/img/usa-icons/expand_more.svg") no-repeat center/1rem 1rem;
    }
    .usa-banner__button::after:hover{
      background-color:#1a4480;
    }
  }
  .usa-banner__button:hover::after{
    content:"";
    background-color:#1a4480;
  }
  .usa-banner__button:visited{
    color:#54278f;
  }
  .usa-banner__button:hover, .usa-banner__button:active{
    color:#1a4480;
  }
  .usa-banner__button:after{
    position:absolute;
  }
  .usa-banner__button:hover{
    text-decoration:none;
  }
}
.usa-banner__button[aria-expanded=false]{
  background-image:none;
}
.usa-banner__button[aria-expanded=true]{
  background-image:none;
}
@media all and (max-width: 39.99em){
  .usa-banner__button[aria-expanded=true]::after{
    background:url("/viner001/.in/img/usa-icons/close.svg") no-repeat center/1.5rem 1.5rem;
    display:inline-block;
    height:3rem;
    width:3rem;
    content:"";
    vertical-align:middle;
    margin-left:0;
  }
  @supports ((-webkit-mask: url("")) or (mask: url(""))){
    .usa-banner__button[aria-expanded=true]::after{
      background:none;
      background-color:#005ea2;
      -webkit-mask:url("/viner001/.in/img/usa-icons/close.svg") no-repeat center/1.5rem 1.5rem;
              mask:url("/viner001/.in/img/usa-icons/close.svg") no-repeat center/1.5rem 1.5rem;
    }
  }
  .usa-banner__button[aria-expanded=true]:before{
    position:absolute;
    bottom:0;
    top:0;
    position:absolute;
    right:0;
    background-color:#dfe1e2;
    content:"";
    display:block;
    height:3rem;
    width:3rem;
  }
  .usa-banner__button[aria-expanded=true]:after{
    position:absolute;
    bottom:0;
    top:0;
    position:absolute;
    right:0;
  }
}
@media all and (min-width: 40em){
  .usa-banner__button[aria-expanded=true]{
    height:auto;
    padding:0;
    position:relative;
  }
  .usa-banner__button[aria-expanded=true]::after{
    background:url("/viner001/.in/img/usa-icons/expand_less.svg") no-repeat center/1rem 1rem;
    display:inline-block;
    height:1rem;
    width:1rem;
    content:"";
    vertical-align:middle;
    margin-left:2px;
  }
  @supports ((-webkit-mask: url("")) or (mask: url(""))){
    .usa-banner__button[aria-expanded=true]::after{
      background:none;
      background-color:#005ea2;
      -webkit-mask:url("/viner001/.in/img/usa-icons/expand_less.svg") no-repeat center/1rem 1rem;
              mask:url("/viner001/.in/img/usa-icons/expand_less.svg") no-repeat center/1rem 1rem;
    }
    .usa-banner__button[aria-expanded=true]::after:hover{
      background-color:#1a4480;
    }
  }
  .usa-banner__button[aria-expanded=true]:hover::after{
    content:"";
    background-color:#1a4480;
  }
  .usa-banner__button[aria-expanded=true]:after{
    position:absolute;
  }
}

.usa-banner__button-text{
  position:absolute;
  left:-999em;
  right:auto;
  text-decoration:underline;
}*/

@media all and (min-width: 40em) {
    .usa-banner__button-text {
        position: static;
        display: inline;
    }
}

.usa-banner__header,
.usa-banner__content {
    color: #1b1b1b;
}

.usa-banner__content {
    margin-left: auto;
    margin-right: auto;
    max-width: 64rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
    font-size: 1rem;
    overflow: hidden;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    width: 100%;
}

/*@media all and (min-width: 64em){
  .usa-banner__content{
    padding-left:2rem;
    padding-right:2rem;
  }
}*/

@media all and (min-width: 64em) {
    .usa-banner__content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media all and (min-width: 40em) {
    .usa-banner__content {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
}

.usa-banner__content p:first-child {
    margin: 0;
}

.usa-js-loading .usa-banner__content {
    position: absolute;
    left: -999em;
    right: auto;
}

.usa-accordion--bordered .usa-accordion__content {
    border-bottom: 0.25rem solid #f0f0f0;
    border-left: 0.25rem solid #f0f0f0;
    border-right: 0.25rem solid #f0f0f0;
    padding-bottom: 1rem;
}

.usa-accordion__content {
    /*  background-color:white;*/
    margin-top: 0;
    overflow: auto;
    padding: 1rem 1.25rem calc(1rem - 0.25rem) 1.25rem;
}

.usa-accordion__content>*:first-child {
    margin-top: 0;
}

.usa-accordion__content>*:last-child {
    margin-bottom: 0;
}

.usa-banner__guidance {
    display: flex;
    align-items: flex-start;
    max-width: 64ex;
    padding-top: 1rem;
}

@media all and (min-width: 40em) {
    .usa-banner__guidance {
        padding-top: 0;
    }
}

.usa-banner__icon {
    width: 2.5rem;
}

.usa-graphic-list .usa-media-block__img {
    margin-right: 1.5rem;
}

.usa-media-block__img {
    flex-shrink: 0;
    margin-right: 0.5rem;
}

.usa-graphic-list .usa-media-block__body> :first-child {
    margin-top: 0;
}

.usa-media-block__body {
    flex: 1 1 0%;
}

.usa-banner__lock-image {
    height: 1.5ex;
    width: 1.21875ex;
}

.usa-banner__lock-image path {
    fill: currentColor;
}

.grid-col-auto {
    flex: 0 1 auto;
    width: auto;
    max-width: 100%;
}

.mobile-lg\:grid-col-auto {
    flex: 0 1 auto;
    width: auto;
    max-width: 100%;
}

.tablet\:grid-col-auto {
    flex: 0 1 auto;
    width: auto;
    max-width: 100%;
}

.desktop\:grid-col-auto {
    flex: 0 1 auto;
    width: auto;
    max-width: 100%;
}

.grid-col-fill {
    /* flex:1 1 0%;*/
    width: auto;
    max-width: 100%;
    min-width: 1px;
}

.grid-row.grid-gap-lg {
    margin-left: -.75rem;
    margin-right: 4.25rem;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
}