@charset "UTF-8";
a.tooltip {
    outline: none;
}

a.tooltip strong {
    line-height: 30px;
}

a.tooltip:hover {
    text-decoration: font-family:Arial;
}

a.tooltip span {
    z-index: 0;
    display: none;
    padding: 14px 20px;
    margin-top: -325px;
    margin-left: -15px;
    width: 280px;
    line-height: 16px;
}

a.tooltip:hover span {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
}

.callout {
    z-index: 0px;
    position: absolute;
    top: -12px;
    border: 20;
    left: 20px;
}

a.tooltip span {
    border-radius: 4px;
    box-shadow: 5px 5px 8px #CCC;
}

#title {
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    font-color: #000;
    margin-top: 0px;
    margin-bottom: 10px;
}

#title a {
    text-decoration: underline;
}

* {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#title {
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-color: #0B0080;
    margin-top: 20px;
    margin-bottom: 25px;
}

table {
    border-collapse: collapse;
}

table td,
table th {
    padding: 0;
}

img {
    display: block;
}

* {
    margin: 0;
}

#sources {
    width: 100%;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 25px;
}

#footer {
    width: 100%;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    color: #FFF;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: auto;
    height: 100px;
    width: 100%;
}

span.highlight {
    background-color: yellow;
}

.underlined {
    text-decoration: underline blue;
}

< !-- MEASURING RACE AND ETHNICITY ACROSS THE DECADES: 1790—2010 //-->
Authors: Beverly M. Pratt,
Lindsay Hixson,
and Nicholas A. Jones Population Division Designer/Editor Musbaw Alawiye,
Janet.S.Sweeney Center for New Media and Promotion (CNNP) | U.S. census Bureau //-->